<!DOCTYPE html>
{% load static %}
<html lang="pl-PL">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Figures</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    {% comment %} <script src="script.js"></script> {% endcomment %}
</head>
<body>
    <main>
        <header>
            <nav>
                <div class="home"><a href="/"><img src="{% static 'images/home.png' %}" alt="home"></a></div>
                <div class="banner">
                    <span class="title">F</span>
                    <span class="title">i</span>
                    <span class="title">g</span>
                    <span class="title">u</span>
                    <span class="title">r</span>
                    <span class="title">e</span>
                    <span class="title">&nbsp;</span>
                    <span class="title">c</span>
                    <span class="title">a</span>
                    <span class="title">l</span>
                    <span class="title">c</span>
                    <span class="title">u</span>
                    <span class="title">l</span>
                    <span class="title">a</span>
                    <span class="title">t</span>
                    <span class="title">o</span>
                    <span class="title">r</span>
                </div>
                <img src="{% static 'images/logo.svg' %}" alt="Logo">
            </nav>
            <div class="description">
                {% block desc %}

                {% endblock desc %}
            </div>
        </header>

        <div class="content">
            {% block content %}

            {% endblock %}
        </div>

        <footer>
            <div class="footer-content">
                <div class="footer-logo">
                    <img src="{% static 'images/logo.svg' %}" alt="Logo">
                    <a href="/">main menu</a>
                </div>
                <div class="footer-contact">
                    <h3>Contact:</h3>
                    <ul>
                        <li><span>e-mail: damien2006.dk@gmail.com</span></li>
                        <li><span>contact: 222 222 202</span></li>
                        <li><span>country: Poland</span></li>
                        <li><span>adress: 89-600 Chojnice Kościerska 11</span></li>
                    </ul>
                </div>
            </div>
            <div class="footer-info">
                <p>&copy; 2024 Damian Kwasigroch. All rights reserved.</p>
            </div>
        </footer>
    </main>
</body>
</html>