{% extends "figures/main.html" %}
{% load static %}

{% block desc %}
    <h2>Tesseract: Definition and Properties</h2>
    <p>A tesseract, also known as a hypercube, is a four-dimensional geometric figure that extends the concept of a cube into the fourth dimension. It consists of eight cubical cells, twelve square faces, twenty-four edges, and sixteen vertices.</p>
    <h2>Calculations for a Tesseract</h2>
    <p>To calculate various properties of a tesseract:</p>
    <ul>
        <li><strong>Number of Dimensions (d):</strong> The number of dimensions of the tesseract. Typically, it's 4 for a regular tesseract.</li>
        <li><strong>Edge Length (s):</strong> The length of each edge of the tesseract.</li>
        <li><strong>Volume:</strong> The volume of a tesseract is given by the formula: <span>V = s<sup>4</sup></span>, where <span>s</span> is the length of each edge.</li>
        <li><strong>Surface Area:</strong> The surface area of a tesseract is given by the formula: <span>A = 24 * s<sup>3</sup></span>, where <span>s</span> is the length of each edge.</li>
        <li><strong>Vertex Count:</strong> The number of vertices in a tesseract is fixed and equals 16.</li>
        <li><strong>Edge Count:</strong> The number of edges in a tesseract is fixed and equals 32.</li>
        <li><strong>Face Count:</strong> The number of faces in a tesseract is fixed and equals 24.</li>
        <li><strong>Cell Count:</strong> The number of cells (cubical) in a tesseract is fixed and equals 8.</li>
    </ul>
    <p>Please provide values for the number of dimensions (d) and the edge length (s) to perform calculations.</p>
    <h2>Fun Fact about Tesseracts</h2>
    <p>Tesseracts are fascinating mathematical objects with properties that challenge our conventional understanding of space. They are widely used in theoretical physics, computer graphics, and various areas of mathematics.</p>
{% endblock %}

{% block content %}
    <div class="calc">
        <section class="view">
            <img id="image" src="https://s2lab.cs.ucl.ac.uk/images/tesseract.gif" alt="tesseract">
        </section>
        <section class="control">
            <form name="form1" method="post">
                <input type="number" name="num_n" min="2" step="1" value="4"> <label for="num_n">Number of Dimensions (n)</label>
                <input type="number" name="num_s"> <label for="num_s">Edge Length (s)</label>
                <input type="button" value="Calculate" id="calculate">
                <p id="info" style="color: red;"></p>
                <input type="number" name="num_V" readonly class="readonly"> <label for="num_V">Volume</label>
                <input type="number" name="num_A" readonly class="readonly"> <label for="num_A">Surface Area</label>
            </form>
        </section>
    </div>
    <script src="{% static 'js/tesseract.js' %}"></script>
{% endblock %}
