{% extends "figures/main.html" %}
{% load static %}
{%  block content %}
<div style="margin:20px">
    <h1>Thank You for Your Donation!</h1>
    <p>We want to express our heartfelt gratitude for your generous donation. Your contribution plays a crucial role in supporting our cause and making a positive impact in the community.</p>
    <p>With your support, we are able to develop more interesting content!</p>
    <p>Once again, thank you for your kindness and generosity. Your donation is greatly appreciated.</p>
    <p>Sincerely</p>
</div>
{% endblock %}