* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #eee;
    color: #333;
}


header {
    background-image: url("https://static.vecteezy.com/system/resources/previews/002/400/793/original/abstract-triangle-background-with-black-triangles-with-different-shades-of-grey-and-white-outlines-mosaic-look-modern-texture-illustration-vector.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: repeat-y;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #f7f7f7;
}

.left {
    display: flex;
}

.home img {
    width: 2em;
    margin: 5px;
    margin-right: 20px;
    filter: brightness(1);
    transition: all 0.3s ease;
}

.home img:hover {
    width: 2.5em;
}

.banner {
    display: flex;
    align-items: center;
}

.title {
    font-size: 1.2em;
    font-weight: bold;
    margin-right: 5px;
    text-transform: capitalize;
    transition: all 0.3s ease;
}

.title:hover {
    font-size: 1.5em;
    transform: rotate(360deg);
}

header img {
    width: 100px;
    transition: transform 0.3s ease;
    margin-left: auto;
    cursor: pointer;
}

#coffe {
    scale: 0.7;
}

header img:hover {
    transform: scale(1.1);
}

.description {
    color: rgb(183, 183, 183);
    font-size: 1em;
    margin-top: 20px;
    padding-left: 20px;
    max-width: 860px;
}

.description h2 {
    padding-top: 5px;
}


.content {
    margin-top: 20px;
    min-height: 300px;
}


footer {
    background-color: #222;
    color: #fff;
    padding: 20px;
    margin-top: 20px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #272727;
    color: #fff;
    transition: all 0.3s ease;
}

.footer-logo {
    display: flex;
    flex-direction: column;
}

.footer-logo img {
    width: 100px;
    transition: transform 0.3s ease;
}

.footer-logo a {
    color: #fff;
    text-decoration: none;
    margin: 15px;
    transition: all 0.3s ease;
}

.footer-logo a:hover {
    text-decoration: underline;
}

.footer-contact h3 {
    margin-bottom: 10px;
}

.footer-contact ul {
    list-style-type: none;
}

.footer-contact li {
    margin-bottom: 5px;
}

.footer-info {
    margin-top: 20px;
    text-align: center;
}

.footer-content:hover {
    background-color: #333;
}

.footer-logo:hover img {
    transform: scale(1.1);
}

.footer-logo a:hover {
    color: #ccc;
}


.donations {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 0 auto;
}

.donations h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

.donations button#close {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

.donations button#close img {
    width: 20px;
    height: 20px;
}

.donations-main {
    margin-top: 20px;
}

.donations-main form input[type="text"],
.donations-main form input[type="number"],
.donations-main form input[type="checkbox"] {
    margin-bottom: 10px;
    padding: 5px;
}

.donations-main form label {
    display: inline-block;
    margin-right: 10px;
}

.donations-main form input[type="button"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.donations-main form input[type="button"]:hover {
    background-color: #0056b3;
}

.donaters {
    margin-top: 20px;
}

.donaters h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.donaters table {
    width: 100%;
    border-collapse: collapse;
}

.donaters table th,
.donaters table td {
    border-bottom: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.donaters table th {
    background-color: #f2f2f2;
}




.fig {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    transition: background-color 0.3s ease;
    padding: 0px 20px 0px 20px;
    margin-bottom: 20px;
}

.fig:hover {
    background-color: #222;
}

.fig a {
    color: #222;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.fig img {
    flex-shrink: 0;
    width: 100px;
    margin-right: 20px;
}

.fig-desc {
    flex-grow: 1;
}

.fig-desc span {
    display: block;
}

.fig:hover .fig-desc{
    color: #eee;
}


.calc {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.view {
    flex: 1;
}

.calc form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calc input[type="number"] {
    margin-top: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 12px;
}

.calc .readonly{
    background-color: #eee;
}

.calc .table1{
    border-collapse: collapse;
    margin-top: 40px;
    margin-right: 10px;
    width: 100%;
}

.calc .table1 th, .calc .table1 td {
    border: 1px solid #ddd;
}
  
.calc .table1 th, .calc .table1 td {
    padding: 8px;
    text-align: left;
}

.calc .table1 th {
    background-color: #ddd;
    text-align: center;
    border: 1px solid #bbb;
}

.calc #info{
    position: relative;
    bottom: 30px;
    width: 100%;
    color: red;
    font-size: smaller;
    text-align: center;
}

.calc input[type="button"] {
    margin-top: 10px;
    margin-bottom: 40px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.calc input[type="button"]:hover {
    background-color: #0056b3;
}

canvas, .view {
    border: 1px solid #ccc;
    width: 100%;
}

.view img {
    width: 50%;
    pointer-events: none;
}

.view {
    background-color: white;
    display: flex;
    justify-content: center;
}